
.explore-title {
  color: #ef5b0c;
}

.explore-subtitle {
  font-size: 1.2rem;
  color: #333;
}

/* FLEX LAYOUT for search input + button */
.search-container-flex {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Search input field */
.custom-search-input {
  flex: 1;
  height: 60px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: none;
}

/* Search button */
.btn-orange {
  background-color: #ef5b0c;
  border-color: #ef5b0c;
  color: white;
}

.btn-orange:hover {
  background-color: #d44f07;
  border-color: #d44f07;
}

.search-btn {
  white-space: nowrap;
  padding: 10px 2px;
  max-width: 100px;
}

/* Card container */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
}

/* Each card */
.card-hover {
  flex: 0 0 18%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.card-hover:hover {
  transform: scale(1.03);
}

.card-hover-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card-hover-popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(16, 16, 16, 0.85);
  width: 100%;
  height: 100%;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.card-hover:hover .card-hover-popup {
  opacity: 1;
}

.popup-temple-name {
  color: #80f3e7;
}

.popup-temple-area {
  color: #bc990c;
}

.popup-cta {
  margin-top: 10px;
  font-weight: 500;
}
