
.footer {
  background-color: #0c0b0b;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding-top: 5px;
}

.footer-wrapper {
  max-width: 1100px;
  margin: auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.logo-column {
  text-align: center;
}

.footer-logo {
  width: 110px;
  margin-bottom: 8px;
}

.footer-tagline {
  font-weight: 600;
  margin: 8px 0;
  font-size: 16px;
}

.about-text {
  font-size: 19px;
  line-height: 1.5;
  margin-top: 8px;
  color: #ccc;
}

.footer-column h5 {
  margin-top: 45px;
  margin-bottom: 12px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.footer-column p,
.footer-column a {
  color: white;
  margin: 4px 0;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column a:hover,
.footer-column p:hover {
  color: #ff5722;
}


.social-icons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}

.social-icons a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a:nth-child(1) { background-color: #3b5998; }
.social-icons a:nth-child(2) { background-color: #00acee; }
.social-icons a:nth-child(3) { background-color: #0072b1; }
.social-icons a:nth-child(4) { background-color: #e1306c; }
.social-icons a:nth-child(5) { background-color: #ff0000; }

.social-icons a:hover {
  filter: brightness(85%);
}


.footer-honors-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px 0 15px;
  text-align: center;
}

.honor-item {
  flex: 1;
  min-width: 160px;
}

.honor-item h4 {
  font-size: 14px;
  margin-bottom: 8px;
  color: #fff;
}

.honor-item img {
  max-width: 120px;
  height: auto;
}


.supported-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px;
  justify-items: center;
  margin-top: 10px;
}


.supported-logos img {
  max-width: 90px;
  height: auto;
  padding: 2px;
  background: white;
  border-radius: 4px;
}


.footer-bottom {
  text-align: center;
  padding-top: 15px;
  font-size: 12px;
  border-top: 1px solid #444;
  margin-top: 20px;
  color: #bbb;
  padding-bottom: 10px;
}

.footer-bottom a {
  color: #ff5722;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}


.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

@media (max-width: 768px) {
  .footer-top,
  .footer-honors-row {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    text-align: center;
    margin-bottom: 20px;
  }

  .supported-logos {
    grid-template-columns: repeat(2, 1fr);
  }
}
